.logocss{
  border-radius:20px;
}

body{background-colour: "white";
    height: auto;
    margin: 1; 
font-family: "Trebuchet MS", Helvetica, sans-serif;
 background-image: url("paper.gif");
 background-repeat: repeat;
border-style: groove;
border-width: 7px;
border-color:aqua;
}

table{
border: triple;
    width: 1050px;
    margin-left: 150px;
    margin-top: 45px;
}

/* Page content */
.content {
  padding: 16px;
}


ul {
  display: inline-block;
  *display: inline;
  zoom: 1
}


/* Zoom on Hover : https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
* {
    box-sizing: border-box;
  }
  .zoom {
    transition: transform .5s;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    background-image: url("img/profilehtml.png");
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
